
main{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

nav .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #01AB75;
    border: none;
    border-radius: 30px;
    color: rgb(8, 6, 6);
    cursor: pointer;
transition: .2s;}



.container {
    position: relative;
    width: 400px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;

}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #0dc060;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #12ea9ba2;
}

.toggle-link {
    text-align: center;
    margin-top: 10px;
}

.toggle-link a {
    color: #08923d;
    text-decoration: none;
    cursor: pointer;
}

.toggle-link a:hover {
    text-decoration: underline;
}