



footer{
    margin-top: 150px;
    box-shadow: none;

}

section .btn-contato{
    justify-content: center;
    margin-top: 10px;
    display: flex;
}



section .success .titulo{
    margin-top: 170px;
}

footer .interface .line-footer .direitos{
    margin-top: 20px;
    
    }